* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;
}

.container {
  margin: 50px auto 0;
  max-width: 800px;
  height: 480px;
  padding: 50px 100px;
  text-align: center;
  /* margin-bottom: 100px; */
  /* background-color: rgba(30,120,110,0.7); */
}
@media (max-width:576px) {
  .container {
    background-attachment: fixed;
  }
}

.container-work {
  padding-top: 10px;
  margin-top: -50px;
}

h1 {
  font-family: "Candal", sans-serif;
  font-size: 5em;
  color: #fff;
}

@media (max-width:576px) {
  h1 {
    font-size: 3em;
  }
}

header p {
  font-family: 'Candal', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
}

.navbar-nav  {
  text-align: center;
  width: 100%;
}

.navbar-item {
  display: inline-block;
}

@media (min-width:576px) {
  .nav-link {
    color: #fff;
    border-bottom: #ccc solid 5px;
  }
}

article .container {
  max-width: 600px;
}

h2 {
  padding-left: 3px;
  text-align: left;
  border-left: #fff solid 5px;
  margin-bottom: 10px;
}

.img-pc {
  max-width: 200px;
}

@media (max-width:1000px) {
  .img-pc {
    margin-top: 10px;
    max-width: 80px;
  }

@media (max-width:768px) {
  .img-portfolio {
    margin-top: 10px;
    max-width: 150px;
  }

  .img-pc {
    margin-top: 10px;
    max-width: 100px;
  }
  table {
    font-size: 12px;
  }
}

@media (max-width:768px) {
  .img-portfolio {
    margin-top: 10px;
    max-width: 110px;
  }
}

p i {
  font-size: 30px;
}

footer a i {
  font-size: 3em;
}

footer div.icons {
  max-width: 200px;
  margin: 0 auto;
}
